body{
    background-color: #1c2333;
    color: white;
  }
  
  .container3{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
    margin-bottom: 200px;
  }
  #todo, #doing ,#done{
    margin-top: 5px;
    width: 355px;
    max-height: 600px;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* border: 2px solid white; */
    padding: 0;
  }

 .category-heading{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    width: 100%;
  }
  .category-heading h2{
    display: inline-block;
  }
  .category-heading img{
    filter: invert(1);
  }
  .example::-webkit-scrollbar {
    display: none;
  }

  .AddTask{
    position: absolute;
    /* margin-top: 10px; */
    border-radius: 4px;
    padding: 30px 100px;
    z-index: -1;
    box-shadow:rgba(245, 245, 245, 0.566)  0px 3px 8px;
  }
  
  .outer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    max-height: 700px;
    width: 380px;
  }
  .add-more{
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    height: 50px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    transition: all 0.7s;
  }
  .add-more:hover{
    box-shadow:whitesmoke  0px 3px 8px;

  }

  .add-more img{
    filter: invert(1);
  }
footer{
  /* position :absolute;
  bottom: 0cm; */
  padding-bottom: 30px;
  background-color: rgb(0, 25, 47);
  width: 100%;
  text-align: center;
  padding-top: 60px;
}
main{
  margin-top: 4vh;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 10vh;

}

.percentbar{
  width: 150px;
  height: 10px;
  border: 1px solid rgb(0, 0, 0);
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.bar{

  height: 10px;
  background-color:#de293b;

}
.Timeleft{
  font-weight: bold;
}

.taskAdd:hover{
  box-shadow:whitesmoke  0px 3px 8px;

}

.homepage{
  width: 40vh;
  height: 25vh;
  border-radius: 4px;
  box-shadow:rgba(245, 245, 245, 0.723)  0px 3px 8px;

}

.hometext{
  padding: 20px;
}

@media screen and (min-width: 400px) {
  .homepage{
    width: 50%;
    height: 300px;
    border-radius: 4px;
    box-shadow:rgba(245, 245, 245, 0.723)  0px 3px 8px;
  
  }
}
@media screen and (max-width: 400px) {
  .main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10px;
  }
}


.home{
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}